.instagram,
.twitter,
.tik {
    width: 80px;
    border-radius: 50px;
}


.canada {
    width: 40px;
}

.confort {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.facebook {
    width: 60px;
    border-radius: 50px;
}